
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #33333338;
    padding: 10px;
}

.navbar-brand img {
    max-width: 100px;
    max-height: 100px;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2em;
}


.toggle-button {
    display: none;
    font-size: 2em;
    color: rgb(14, 4, 4);
    background: none;
    border: none;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        width: 100%;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        text-align: center;
        width: 100%;
        margin: 10px 0;
    }

    .toggle-button {
        display: block;
    }

}



header {
    text-align: center;
    padding: 2rem;
    background: linear-gradient(50deg,#17171b00,#1a19170c);
}

.hero {
    text-align: center;
    padding: 2rem;
}


footer {
    text-align: left;
    padding: 1rem;
    background-color: transparent;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 0.8rem; /* Tamanho de fonte menor */
}
h1 {
    
    font-size:  2rem;
       color: #faf9f3;
       font-family:'Eczar', serif;
   
}

a {
    
     font-size: 2rem;
        color: #000000; /* Cor amarela */
        font-family: 'Eczar', serif; /* Fonte Eczar */
    
}
h2 {
    text-align: center;
    margin-bottom: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #050101;
}

.about-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: #ffffff00;
    border: 1px solid #dddddd00;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card:hover {
    transform: scale(1.2);
}

.card img {
    width: 110px;
    height: 110px;
    object-fit: center;
}

.card-content {
    padding: 20px;
}

.card h3 {
    margin-top: 0;
}

.card p, .card ul {
    margin: 0;
}

.card ul {
    padding-left: 20px;
}

.card li {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
    .image-container {
        text-align: left; 
    }

    
    .image-container img {
        max-width: 100%; 
        height: auto; 
    }
    .text-overlay {
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        padding: 20px; 
        background-color: rgba(255, 255, 255, 0.8);
        border: 2px solid #ccc; 
        box-sizing: border-box; 
    }
    h5 {
        font-size:  2%;
       color: #faf9f3; 
       font-family: Arial, Helvetica, sans-serif

    }
    .text-card {
        border-radius: 0; 
        border: 1px solid #ccc; 
        margin-bottom: 20px; 
    }

    .text-card .card-body {
        padding: 20px; 
        text-align: justify; 
    }
    .quiz {
        padding: 2rem;
        text-align: center;
    }
    
    #quiz-container {
        max-width: 600px;
        margin: auto;
        background-color: #1f1f1f;
        padding: 1rem;
        border-radius: 8px;
    }
    
    #quiz-options button {
        display: block;
        width: 100%;
        padding: 0.5rem;
        margin: 0.5rem 0;
        background-color: #333;
        border: none;
        color: white;
        cursor: pointer;
    }
    
    #quiz-submit {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
    }
    
    #quiz-score {
        margin-top: 1rem;
        font-size: 1.2rem;
        color: #FFD700;
    }
    h5 {
        text-align: center;
        color: #050101;
    }
   
}